<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div>
            <img src="{{file}}" height="220px" width="220px">
            <a href="/download/id=1?file={{file}}" >Download File</a>
            
            {{!-- {{#if files}}
                {{#each file}}
                    <a href="/download/{{this.file}}"><h4>Download File</h4></a>
                {{/each}}
            {{/if}} --}}
        </div>
    </body>
</html>